@import "01-variables.less";

.test {
  display: flex;
  flex-direction: column;

  min-height: 600px;

  position: relative;
  padding: 50px 15px 0;

  background-image: url("../img/test-bg.png");

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url("../img/test-bg@2x.png");
  }

  background-position: center;
  background-size: cover;
  box-shadow: 0px 30px 40px rgba(133, 73, 86, 0.210598),
    0px 0px 4px rgba(0, 0, 0, 0.0942595);

  min-width: 100%;
  overflow: hidden;

  &--game {
    padding-top: 0;

    //border: 1px solid black;
  }

  &__wrapper {
    position: relative;

    min-width: 300px;
    max-width: 430px;

    margin-bottom: 30px;
  }

  &__describe {
    padding: 6px 13.5px;
    color: #ffffff;
    font-size: 18px;
    line-height: 21px;
    background: #e25a76;
    border: 1px solid #e25a76;
    width: 65px;

    position: absolute;
    right: 0;
    top: -35px;

    &::before {
      content: "";
      position: absolute;
      border-style: solid;
      border-color: transparent;
      bottom: -12px;
      border-width: 0 0 12px 12px;
      border-left-color: #ba4961;
      right: 0;
    }
  }

  &__title {
    font-size: 30px;
    line-height: 35px;
    font-weight: 900;
    margin-bottom: 15px;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 27px;
  }

  &__cash,
  &__face,
  &__newspapper {
    position: absolute;
  }

  &__cash {
    width: 195px;
    height: 145px;

    left: 385px;
    bottom: 130px;
    left: 45%;
    top: 50%;

    display: none;
  }

  &__face {
    width: 95px;
    height: 115px;

    display: none;
  }

  &__newspapper {
    bottom: -10px;
    right: 0;
    width: 250px;
  }

  &__start {
    font-size: 20px;
    line-height: 23px;
    font-weight: 900;

    padding: 16px 40px;
    cursor: pointer;

    &:hover,
    &:focus {
      border: 2px solid #43a457;
      outline: none;
    }
  }

  &__wrap {
    width: 100%;
    height: 100%;
  }

  &__level {
    display: inline-block;
    margin-top: 25px;
  }

  &__list {
    margin-bottom: 30px;
    margin-left: -1000px;
    width: 100%;
    //animation: appear 0.3s linear;
  }

  &__question {
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;

    margin-top: 16px;
    margin-bottom: 30px;
    margin-left: -1000px;
    width: 100%;
    //animation: appear linear 0.3s;

    &--anime {
      animation: none;
      margin-left: 0;
    }
  }

  &__answer {
    .answer-style;
    margin-bottom: 30px;

    &--right {
      border: 2px solid #43a457;
    }

    &--loose {
      border: 2px solid #e25a76;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 40px;
    width: 100%;
    //animation: appear linear 0.3s;
    margin-left: -1000px;
    //opacity: 0;

    & > a,
    & > b > a {
      border-bottom: 1px solid blue;
      color: blue;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__next {
    font: inherit;
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    vertical-align: middle;

    background-color: transparent;
    margin-bottom: 15px;

    border: none;
    box-shadow: none;
    //transform: translateX(-500px);
    margin-left: -1000px;
    //animation: show linear 0.5s;
    cursor: pointer;

    &:hover,
    &:focus {
      outline: none;
      color: #202020;
    }
  }

  &__arrow {
    display: inline-block;
    margin-left: 15px;
    font-size: 26px;
  }

  &__result {
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;

    margin-top: 60px;
    margin-bottom: 40px;
  }

  &__repeat {
    margin-bottom: 15px;
    z-index: 5;

    font: inherit;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    background-color: transparent;

    border: none;
    box-shadow: none;
    //animation: show linear 0.5s;
    margin-left: -500px;
    cursor: pointer;

    & > i {
      color: #e25a76;
    }

    &:hover,
    &:focus {
      color: #e25a76;
      outline: none;
    }
  }
}

@keyframes show {
  from {
    margin-left: -500px;
  }
  to {
    margin-left: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 580px) {
  .test {
    &__newspapper {
      width: 300px;
    }
  }
}

@media (min-width: @tablet-width) {
  .test {
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;

    &--game {
      padding-top: 0;
    }

    &__wrapper {
      max-width: 510px;
      margin-bottom: 280px;
    }

    &__face {
      display: inline-block;

      left: 75%;
      top: 20%;
    }

    &__cash {
      display: inline-block;
      left: 20%;
    }

    &__wrap {
      max-width: 500px;
      margin: 0 auto;
    }

    &__next,
    &__repeat {
      position: absolute;
      bottom: 40px;
    }
  }
}

@media (min-width: 992px) {
  .test {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 90px;

    &--game {
      padding-top: 0;
    }

    &__newspapper {
      display: inline-block;

      width: 270px;
      height: 255px;

      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

@media (min-width: @desctop-width) {
  .test {
    &__wrap--result {
      max-width: 390px;
    }

    &__title {
      font-size: 34px;
      line-height: 40px;
      font-weight: 900;
    }

    &__cash {
      left: 30%;
    }

    &__face {
      top: 50px;
      left: auto;
      right: 316px;
    }

    &__newspapper {
      width: 435px;
      height: 415px;
    }

    &__next,
    &__repeat {
      bottom: 50px;
    }
  }
}
